/* src/components/Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #190f9e; /* line */
  background-color: #e3f2fd; /* light blue background */
}

.navbar-title-link {
  text-decoration: none;
  /* color: #190f9e; /* navy blue */
  font-size: 1.5rem;
  font-weight: bold;
}

/* 
[ margin ][ border ][ padding ][ content ][ padding ][ border ][ margin ]
*/
h2.navbar-title {
  margin: 0.85rem;
  padding: auto;
}



.navbar-ul-links {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* style for when link in navbar is clicked: .navbar-link */
.navbar-link{
  text-decoration: none;
  color: #c8c9e6; /* initial color light purple blue*/
  font-weight: bold;
  padding: 8px 14px;        /* makes hover box larger */
  border-radius: 999px;    /* pill shape for hover highlight */
  transition: all 0.2s ease-in-out; /*highlight color */
}


/* Add hover */
.navbar-link:hover {
  background-color: #87c8f4;
}


.navbar-links a {
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
}